/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== console.css ====================================================
   == Styles used by the Error Console window.
   ====================================================================== */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.console-box {
  background-color: -moz-Field;
  color: -moz-FieldText;
}

/* ::::: console rows ::::: */

.console-row {
  border-bottom: 1px solid ThreeDLightShadow;
  padding: 4px 0px;
}

.console-row-icon {
  padding: 4px;
  -moz-padding-start: 5px;
  -moz-box-align: start !important;
}

.console-row-msg > label:first-child,
.console-row-file > label:first-child {
  display: none;
}

.console-time {
  font-weight: normal !important;
}

.console-icon {
  list-style-image: inherit;
}

.console-error-msg {
  margin-bottom: 2px;
}

/* ..... error rows ..... */

.console-row-code {
  padding-top: 3px;
  padding-bottom: 3px;
  -moz-padding-start: 3px;
  -moz-padding-end: 0px;
  color: #0000BB;
  font-size: larger;
}

.console-dots,
.console-caret {
  height: 9px;
}

.console-dots {
  background: url("chrome://global/skin/console/console-error-dash.gif") repeat-x top;
}

.console-caret {
  width: 7px;
  background: url("chrome://global/skin/console/console-error-caret.gif") no-repeat top;
}

/* ..... message rows ..... */

.console-row[type="message"] {
  font-family: monospace;
}

/* ..... selected state ..... */

.console-row[selected="true"] {
    background-image: url("chrome://global/skin/console/itemSelected.png");
}

.console-row-code[selected="true"],
.console-row-content[selected="true"] > .console-row-file > .console-error-source > .text-link {
  color: inherit !important;
}

/* ::::: icons ::::: */

.console-row[type="error"],
.console-row[type="exception"] {
  list-style-image: url("chrome://global/skin/icons/error-16.png");
}

.console-row[type="error"] .console-row-msg,
.console-row[type="exception"] .console-row-msg {
  font-weight: bold;
}

.console-row[type="warning"] {
  list-style-image: url("chrome://global/skin/icons/warning-16.png");
}

.console-row[type="message"] {
  list-style-image: url("chrome://global/skin/icons/information-16.png");
}

/* ::::: toolbars ::::: */

#TextboxEval {
  margin: 2px !important;
}

#ButtonEval {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
  -moz-margin-start: 0px !important;
  -moz-margin-end: 2px !important;
}

toolbarseparator {
  min-height: 1em;
}

/* Toolbar icons */

#ToolbarMode toolbarbutton {
  min-width: 57px;
  padding: 4px !important;
}

toolbar#ToolbarMode toolbarbutton:active,
toolbar#ToolbarMode toolbarbutton[checked="true"] {
  -moz-padding-start: 5px !important;
  -moz-padding-end: 3px !important;
}


toolbar#ToolbarMode toolbarbutton {
  list-style-image: url("chrome://global/skin/console/console-toolbar.png");
  -moz-box-orient: horizontal;
  padding: 4px !important;
}

#Console\:modeAll {
  -moz-image-region: rect(0px 24px 24px 0px);
}

#Console\:modeAll {
  -moz-image-region: rect(0px 24px 24px 0px);
}

#Console\:modeAll:hover,
#Console\:modeAll[checked="true"] {
  -moz-image-region: rect(24px 24px 48px 0px);
}

#Console\:modeErrors {
  -moz-image-region: rect(0px 96px 24px 72px);
}

#Console\:modeErrors:hover,
#Console\:modeErrors[checked="true"] {
  -moz-image-region: rect(24px 96px 48px 72px);
}

#Console\:modeWarnings {
  -moz-image-region: rect(0px 72px 24px 48px);
}

#Console\:modeWarnings:hover,
#Console\:modeWarnings[checked="true"] {
  -moz-image-region: rect(24px 72px 48px 48px);
}

#Console\:modeMessages {
  -moz-image-region: rect(0px 48px 24px 24px);
}

#Console\:modeMessages:hover,
#Console\:modeMessages[checked="true"] {
  -moz-image-region: rect(24px 48px 48px 24px);
}

#Console\:clear {
  -moz-image-region: rect(0px 120px 24px 96px);
}

#Console\:clear:hover,
#Console\:clear[checked="true"] {
  -moz-image-region: rect(24px 120px 48px 96px);
}

toolbar#ToolbarMode .toolbarbutton-icon {
  padding: 2px 0 !important;
}

toolbar#ToolbarMode .toolbarbutton-text {
  -moz-padding-end: 4px;
}


/* ::::: Fix Error Console toolbar button text spacing ::::: */

.toolbarbutton-text {
  -moz-padding-start: 0px;
  -moz-padding-end: 5px;
}

