@media (min-height: 4.5em) {
  html, body {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    font-size: 10px;
    color: white;
    background: transparent;
    -moz-user-select: none;
    --name-maxsize: 2.2rem;
    --name-minsize: 1.7rem;
    background-color: var(--header-background);
  }

  body.large-text {
    --name-maxsize: 2.8rem;
    --name-minsize: 2.2rem;
  }

  html * {
    overflow: hidden;
  }

  #calls[show-mode="list-mode"] .duration .font-light {
    position: relative;
    width: 6rem;
    color: var(--color-gs70);
    margin-top: 0;
    font-size: 1.4rem;
    font-weight: 400;
    display: block;

  }

  html[dir="ltr"] #calls[show-mode="list-mode"] .duration .font-light {
    text-align: right;
    left: 0;
  }

  html[dir="rtl"] #calls[show-mode="list-mode"] .duration .font-light {
    text-align: left;
    right: 0;
  }

  #calls:not(.big-duration) > section.ended .duration .font-light {
    line-height: 2rem;
  }

  #calls:not(.big-duration) > section.ended .callended {
    line-height: 1.4rem;
    color: var(--color-gs70);
    font-size: 1.4rem;
    font-weight: 400;
    height: 2.4rem;
    width: 100%;
  }

  #calls:not(.big-duration) > section.connecting:not(.held) .connect {
    line-height: 1.4rem;
    color: var(--color-gs70);
    font-size: 1.4rem;
    font-weight: 400;
    height: 2.4rem;
    width: 100%;
  }

  #calls[show-mode="list-mode"] > section.outgoing.connecting .duration,
  #calls[show-mode="list-mode"] > section.outgoing.connecting .additionalContactInfo,
  #calls[show-mode="list-mode"] > section.outgoing.connecting.ended:not(.held) .connect,
  #calls[show-mode="list-mode"] > section.outgoing.connecting:not(.ended) .callended {
    height: 0;
  }
  #calls[show-mode="list-mode"] > section.outgoing.connecting:not(.held) .connect,
  #calls[show-mode="list-mode"] > section.outgoing.connecting.ended .callended {
    line-height: 1.4rem;
    color: var(--color-gs70);
    font-size: 1.4rem;
    font-weight: 400;
    height: 2.4rem;
    width: 100%;
  }

  #calls[show-mode="max-mode"] .connect {
    height: 0 !important;
  }

  #calls:not(.big-duration) > section.connected:not(.ended) .callended,
  #calls:not(.big-duration) > section.connected:not(.ended) .connect
  {
    height: 0 !important;
  }

  #calls[show-mode="max-mode"] .callended {
    height: 0 !important;
  }

  #calls:not(.big-duration) > section.ended .connect,
  #calls:not(.big-duration) > section.held .connect,
  #calls:not(.big-duration) > section.connecting:not(.ended) .callended
  {
    height: 0 !important;
  }
  #calls:.big-duration > section.connecting .connect {
    height: 0 !important;
  }
  body:not(.single-line) #calls > section.connecting:not(.held) .additionalContactInfo {
    height: 0 !important;
  }

  #calls:not(.big-duration) > section.ended:not(.ongoing) .duration .font-light {
    line-height: 3.5rem;
  }

  #calls:not(.big-duration) > section.ended.incoming .duration .font-light {
    line-height: 0;
  }

  #calls .held .duration{
    display: block !important;
  }

  #calls .-two-call-big-timer{
    font-size: 4rem;
    /* font-size: 5.9rem; */
    font-feature-settings: "tnum";
    height: 8rem;
    width: 100%;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), transparent) repeat scroll 0% 0% transparent;
    background: -o-linear-gradient(rgba(0, 0, 0, 0.5), transparent) repeat scroll 0% 0% transparent;
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent) repeat scroll 0% 0% transparent;
    white-space: nowrap;
  }

  #calls section:not(.held, .active-second-call) {
    background-image: none !important;
  }

  #calls .-two-call-big-timer span{
    font-size: 2.7rem;
  }

  #calls .-two-call-big-timer.isTimer span{
    font-size: 5.9rem;
  }

  #calls .-two-call-big-timer .direction{
   display: inline-block;
   width: 4rem;
   height: 6.5rem;
   padding: 0px;
  }

  #calls .-two-call-big-timer .direction:before {
    content: "";
    display: block;
    width: 4rem;
    height: 4rem;
    margin: 3.2rem 0px 0px;
    background-repeat: no-repeat;
  }

  #calls .-two-call-big-timer.incoming .direction:before {
    background-image: url('images/handled_call/actionicon_callscreen_incomingcall.png');
    background-size: 4rem;
  }

  #calls .-two-call-big-timer.outgoing .direction:before{
    background-image: url('images/handled_call/actionicon_callscreen_outgoingcall.png');
    background-size: 4rem;
  }

  #calls .-two-call-big-timer.held .direction:before{
    background-image: url('images/handled_call/actionicon_callscreen_pausedcall.png');
    background-size: 4rem;
  }

  #calls .-two-call-big-timer.ended .direction:before{
    background-image: url('images/handled_call/actionicon_callscreen_hangup.png');
    background-size: 4rem;
  }

  #calls .-two-call-big-timer span{
    text-shadow: 0px 0.2rem 0.1rem rgba(0, 0, 0, 0.3);
  }

  button::-moz-focus-inner {
    border: 0;
  }

  #phone-number-view {
    width:100%;
    border:0;
    background:transparent;
    text-align: left;
    cursor:none;
    -moz-user-select: none;
  }

  .grid-wrapper {
    width:100%;
    height:100%;
  }

  .grid-v-align {
    vertical-align:middle;
  }

  .grid-row {
    display:table-row;
  }

  .grid-cell {
    display:table-cell;
  }

  .grid {
    display:table;
    table-layout:fixed;
    border:0;
  }

  .grid.hide {
    display: none;
  }

  #keypad-callbar.hide,
  #keypad-hide-bar.hide {
    display: none;
  }

  .grid-row.transparent,
  #co-advanced.transparent {
    visibility: hidden;
  }

  .layout-row {
    display:table-row;
  }

  .layout-cell {
    display:table-cell;
  }

  .layout-centered {
    vertical-align:middle;
  }

  .center {
    text-align:center;
  }

  #views {
    position: absolute;
    top: 100%;
    height: 100%;
    width: 100%;
    z-index: -1;
    visibility: hidden;
  }

  body.no-handled-calls * {
    pointer-events: none;
  }

  body.showKeypad #views {
    transition: transform 0.3s ease, visibility 0.3s;
    transform: translateY(-100%);
    visibility: visible;
    z-index: 500;
  }

  body.showKeypad #keyboard-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: calc(100% - 16rem);
    background: rgba(255, 255, 255, 0.85);
    position: absolute;
    bottom: 0;
  }

  body.showKeypad.single-line #keyboard-container {
    height: calc(100% - 10rem);
  }

  body.showKeypad #keypad {
    height: 28rem;
  }

  body.showKeypad .duration,
  body.showKeypad .sim  {
    transition: opacity 0.3s ease;
    opacity: 0;
  }

  body.showKeypad #call-options {
    transition: transform 0.3s ease, opacity 0.3s;
    transform: translateY(16rem);
    opacity: 0;
  }

  body.showKeypad #group-show {
    display: none;
  }

  #views > .view {
    height: 100%;
    width: 100%;
  }

  body.hidden *[data-l10n-id] {
    visibility: hidden;
  }

  #call-screen {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - var(--statusbar-softkeybar-height));
    margin: 0;
    border: 0;
    background: black;
    z-index: 100;
    top: var(--statusbar-height);
  }

  #main-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-gs00);
  }

  .callended.hidden {
    display: none;
  }

  .remote-video-anchor {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: grey;
  }

  .remote-video-view {
    position: relative;
    width: 24rem;
    height: 32rem;
  }

  .local-video-anchor {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .local-video-view {
    position: absolute;
    bottom: 8.3rem;
    right: 0rem;
    width: 6.4rem;
    height: 4.8rem;
    border: 0.1rem solid var(--color-gs00);
    transform: rotate(90deg);
  }

  .rear-camera {
    transform: rotate(270deg) !important;
  }

  .local-video-view.large {
    bottom: 2rem;
    right: -0.5rem;
    width: 8.2rem;
    height: 6.1rem;
  }

  .local-video-view.full {
    position: absolute;
    top: 4rem;
    bottom: 0;
    height: 24rem;
    width: 32rem;
    border: none;
  }

  html[dir="ltr"] .local-video-view.full {
    left: -4rem;
    right: 0;
  }

  html[dir="rtl"] .local-video-view.full {
    right: -4rem;
    left: 0;
  }

  .local-video-view.camera-off-icon {
    font-family: "gaia-icons";
    background-color: var(--color-gs90);
    content: "video-off";
    color: var(--color-gs70);
  }

  #actions-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 14rem;
  }

  #call-options {
    height: 14rem;
    position: absolute;
    bottom: 0;
    visibility: hidden; /* tcl hide element */
  }

  #incoming-header {
    visibility: hidden; /* tcl hide element */
  }

  #co-advanced {
    height: 8rem;
  }

  .co-advanced-option {
    height: 8rem;
    width: 100%;
    background: rgba(255, 255, 255, 0.85);
    -moz-box-sizing: border-box;
    border-radius: 0;
    padding: 0;
  }

  .co-advanced-option:not([disabled]):active {
    background: #94eee9;
  }


  #co-advanced span.grid-cell:first-child .co-advanced-option {
    border-left: 0;
  }

  #co-advanced span.grid-cell:last-child .co-advanced-option {
    border-right: 0;
  }

  #co-advanced.no-add-call #place-new-call-container {
    display: none;
  }

  .co-advanced-option .icon {
    display: inline-block;
    background-size: 4rem;
    width: 4rem;
    height: 4rem;
  }

  button[disabled] .icon {
    opacity: 0.6;
  }

  .icon-mute {
    background-image: url('images/call_screen/actionicon_activecall_mute_40x80.png');
  }

  .icon-keypad-visibility {
    background-image: url('images/call_screen/actionicon_activecall_dialpad.png');
  }

  .icon-place-new-call {
    background-image: url('images/call_screen/actionicon_activecall_add_call.png');
  }

  .icon-speaker {
    background-image: url('images/call_screen/actionicon_activecall_speaker_40x80.png');
  }

  .icon-bt {
    background-image: url('images/call_screen/actionicon_activecall_speaker.png');
  }

  .icon-on-hold {
    background-image: url('images/call_screen/Ico_call_onhold_40x120.png');
  }

  .icon-merge {
    background-image: url('images/call_screen/Ico_call_merge_40x40.png');
  }

  .co-advanced-option.active-state .icon.icon-mute,
  .co-advanced-option.active-state .icon.icon-speaker,
  .co-advanced-option.active-state .icon.icon-bt,
  .co-advanced-option.active-state:active .icon.icon-on-hold {
    background-position: 0 4rem;
  }

  .co-advanced-option.active-state .icon.icon-on-hold {
    background-position: 0 8rem;
  }

  .co-advanced-option:active .icon.icon-mute,
  .co-advanced-option:active .icon.icon-speaker,
  .co-advanced-option:active .icon.icon-bt {
    background-position: 0 0;
  }

  .co-advanced-option.active-state:active .icon.icon-on-hold {
    background-position: 0 4rem;
  }

  #callbar {
    display: flex;
    background: rgba(255, 255, 255, 0.85);
  }

  #callbar > button {
    flex: 1;
    height: 6rem;
    padding: 0;
    border: none;
    background: none;
  }

  .callbar-inner-button {
    display: block;
    height: 4rem;
    border: 0;
    border-radius: 2rem;
    background-size: auto 100%;
  }

  #callbar-hang-up > .callbar-inner-button,
  #callbar-answer > .callbar-inner-button {
    margin: 1rem 1.5rem;
  }

  #callbar-hang-up > .callbar-inner-button {
    background: url('images/handled_call/actionicon_activecall_hangup.png') center / 4rem no-repeat,
                #e00000;
    -moz-margin-end: 1rem;
  }

  #callbar-hang-up:active > .callbar-inner-button {
    background: url('images/handled_call/actionicon_activecall_hangup.png') center / 4rem no-repeat,
                #ff5933;
  }

  #callbar-answer > .callbar-inner-button {
    background: url('images/handled_call/actionicon_activecall_pickup.png') center / 4rem no-repeat,
                #00adad;
    -moz-margin-start: 1rem;
  }

  #callbar-answer:active > .callbar-inner-button {
    background: url('images/handled_call/actionicon_activecall_pickup.png') center / 4rem no-repeat,
                #94eee9;
  }

  #callbar-hold > .callbar-inner-button {
    background-color: #00adad;
    color: #333;
    text-align: center;
    font-size: 1.7rem;
    line-height: 4rem;
    margin: 0 1.5rem;
    -moz-margin-start: 0.5rem;
    font-style: italic;
  }

  #callbar-hold:active > .callbar-inner-button {
    background: #94eee9;
  }

  /* Multiple call handling */
  #calls {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
    background: var(--color-gs00);
    transform: translateY(0);
    transition: transform 0.4s ease-in-out, visibility 0.4s;
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }

  #calls > section {
    position: relative;
    height: 100%;
  }

  #calls > section.groupended {
    display: none;
  }

  /* Switch calls button support, used in CDMA call-waiting mode. */

  #calls #switch-calls-button {
    display: none;
  }

  #calls.switch #switch-calls-button {
    display: block;
  }

  #switch-calls-button {
    top: 3rem;
    height: 4rem;
    width: 4rem;
    position: relative;
    background: url('images/handled_call/Ico_call_switchcalls_40x80.png');
    background-position: 0 0;
  }

  #switch-calls-button:active {
    background: url('images/handled_call/Ico_call_switchcalls_40x80.png');
    background-position: 0 -4rem;
  }

  #calls:not(.big-duration) > section:not(.ended) .duration:not(.isTimer) {
    visibility: hidden;
  }

  #calls > section .numberWrapper .hd-icon {
    display: inline-block;
    border: 1px solid #000;
    color: #333;
    width: 3rem;
    height: 2rem;
    font-size: 2rem;
    border-radius: 4px;
    padding: 0.1rem;
    text-align: center;
    line-height: 2rem;
    visibility: hidden;
  }

  #calls > section .numberWrapper .hd-icon.hide {
    display: none;
  }

  body:not(.single-line) #calls > section.ended .numberWrapper .number {
    color: var(--color-gs100);
  }

  #calls > section.emergency.additionalInfo .numberWrapper .number {
    color: #b90000;
  }

  .additionalContactInfo > * {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
  }

  .additionalContactInfo > .tel-info {
    margin-right: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  html[dir="ltr"] .additionalContactInfo > .tel-info {
    padding-right: 0.5rem;
  }

  html[dir="rtl"] .additionalContactInfo > .tel-info {
    padding-left: 0.5rem;
  }

  .additionalContactInfo .tel-type {
    min-width: 4rem;
    max-width: 12rem;
  }

  .wifi-call-quality-container {
    display: flex;
    flex-shrink: 0;
    width: auto;
  }

  #calls[show-mode="max-mode"] #group-call .wifi-call-quality-container {
    margin-right: 0.5rem;
  }

  #calls[show-mode="list-mode"] .wifi-call .wifi-call-quality-container {
    margin-top: 0.5rem;
  }

  #group-call .wifi-call-quality-container {
    float: right;
  }

  #calls[show-mode="list-mode"] #group-call .wifi-call-quality-container {
    float: left;
    margin-top: 5.8rem;
    margin-left: 1rem;
  }

  .wifi-call-quality {
    border-radius: 1rem;
    width: auto;
    height: 2rem;
    background-color: var(--color-gs20);
    min-width: 4rem;
    padding: 0 0.5rem;
    display: flex;
    flex-flow: row-reverse wrap;
    flex-shrink: 0;
  }

  .wifi-call-quality-container.hide {
    display: none;
  }

  .quality-dot {
    border-radius: 0.3rem;
    width: 0.6rem;
    height: 0.6rem;
    background-color: rgb(--color-black);
    margin: 0.7rem 0.5rem 0;
  }

  .quality-dot[data-quality='excellent'] {
    background-color: var(--color-lime);
  }

  .quality-dot[data-quality='fair'] {
    background-color: var(--color-orange);
  }

  .quality-dot[data-quality='bad'] {
    background-color: var(--color-red);
  }


  .quality-content {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--color-gs90);
    padding-top: 0.2rem;
  }

  html[dir="ltr"] .quality-content {
    padding-right: 0.5rem;
  }

  html[dir="rtl"] .quality-content {
    padding-left: 0.5rem;
  }

  body:not(.single-line) #calls > section.ended .additionalContactInfo {
    height: 0;
  }
  html[dir="rtl"] #calls:not(.big-duration) > section.ended .additionalContactInfo {
    padding-left: 0;
    padding-right: 0;
  }

  #calls > section:not(.additionalInfo) .additionalContactInfo {
    display: none;
  }

  html[dir="rtl"] #calls:not(.big-duration) > section .duration {
    padding-right: 25.6rem;
  }

  html[dir="rtl"] #calls:not(.big-duration) > #group-call:not(.held) {
    background-position: 28.3rem;
  }

  html[dir="rtl"] #calls:not(.big-duration) > section.ended .numberWrapper {
    padding-left: 0;
    padding-right: 0;
  }

  html[dir="rtl"] #calls:not(.big-duration) > section.held {
    background-position: 28.3rem;
  }
  html[dir="rtl"] #calls:not(.big-duration) > section:not(.held) {
    background-position: 28.3rem;
  }

  html[dir="rtl"] #calls:not(.big-duration) > section.ended {
    background-position: 28.3rem;
    padding-left: 7rem;
    padding-right: 4rem;
  }

  #calls.big-duration > section.held .duration {
    display: block;
  }

  body:not(.single-line) #calls > section.held:not(.ended) .duration {
    display: none;
  }

  #calls.big-duration .handled-call .direction:before,
  #calls.big-duration #group-call .direction:before {
    content: "";
    display: block;
    width: 4rem;
    height: 4rem;
    background-repeat: no-repeat;
    background-size: 2.6rem auto;
    background-position: 0rem -0.3rem;
  }


  #calls:not(.big-duration) > section.ended .duration,
  #calls:not(.big-duration) > section.ended.held .duration {
    color: white;
    font-size: 1.4rem;
  }

  #calls:not(.big-duration) > section.ended .duration {
    line-height: 0;
    margin-top: 0;
  }

  #incoming-container {
    position: absolute;
    width: 100%;
    transform: translateY(-5.8rem);
    transition: transform 0.4s ease-in-out, visibility 0.4s;
    z-index: 500;
    height: 5.8rem;
    background-color: var(--header-background);
    opacity: 0.85;
    top: 0;
  }

  #incoming-container header {
    margin-bottom: 2rem;
    display: flex;
  }

  #incoming-info {
    position: absolute;
    color: #333;
    top: 0;
    width: 100%;
    height: 5.8rem;
  }

  #incoming-info:not(.additionalInfo) .incoming-number-info {
    background-position: 27.2rem 3rem;
  }
  html[dir="rtl"] #incoming-info:not(.additionalInfo) .incoming-number-info {
    background-position: 1.5rem 2rem;
    padding: 1rem 2.5rem 0 4.5rem;
  }

  #incoming-container.displayed {
    transform: translateY(0);
  }

  #incoming-container button {
    height: 0;
    flex: 1;
    padding: 0;
    border:0;
    border-radius:2rem;
    display: block;
    font-size: 1.8rem;
    color: white;
    background-position: center, center;
    background-repeat: no-repeat, repeat-x;
    visibility: hidden;  /* tcl hide element */
  }

  #incoming-container.hold-and-answer-only #incoming-end {
    display: none;
  }

  #incoming-answer {
    background: url('images/handled_call/actionicon_activecall_hold.png'),
                #00adad;
    background-size: 4rem, auto 100%;
    margin: 0 1rem;
    -moz-margin-end: 1.5rem;
  }

  #incoming-end {
    background: url('images/handled_call/actionicon_activecall_hangup.png'),
                #e00000;
    background-size: 4rem, auto 100%;
    margin: 0 1rem;
    -moz-margin-start: 1.5rem;
  }

  .incoming-number-info {
    height: 5.8rem;
    display: flex;
    flex-direction: column;
  }

  html[dir="rtl"] .incoming-number-info {
    background-position: 1.5rem 2rem;
    padding: 1rem 2.5rem 0 4.5rem;
  }

  #incoming-number {
    width: calc(100% - 9.4rem);
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--color-gs00);
    margin-left: 5.2rem;
    line-height: 2.2rem;
    margin-top: 1rem;
  }

  #incoming-number-additional-info {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--color-gs70);
    margin-left: 5.2rem;
    width: calc(100% - 9.4rem);
  }

 #incoming-number .hd-icon {
    height: 3.2rem;
    width: 3.2rem;
    background: url("images/handled_call/ic_hd_call.png");
    float: right;
    margin-right: 0.5rem;
    visibility: hidden;
  }

  #incoming-ignore {
    background: #575757;
    font-style: italic;
    width: 29rem;
    margin: 1rem 1.5rem 1rem 1.5rem;
    visibility: hidden;  /* tcl hide element */
  }

  /* Conference group support */
  #group-call #group-show {
    position: absolute;
    padding: 0;
    right : 0;
    height: 8rem;
    width: 6rem;
    background: url('images/handled_call/actionicon_callscreen_proceed.png') no-repeat 2rem center / 3rem;
  }
  html[dir="rtl"] #group-call #group-show {
    padding-right: 27rem;
  }

  .single-line #group-call #group-show {
    height: 10rem;
  }

  #group-call.held #group-show {
    display: none;
  }

  #group-call.ended #group-show {
    display: none;
  }

  #group-call #group-show:active {
    background-color: #00adad;
    transition: background-color 0.2s ease;
  }

  #calls #group-call-label {
    height: 7rem;
    line-height: 8rem;
    font-size: var(--name-maxsize);
    color: var(--color-gs90);
    margin-left: 1rem;
    width: calc(100% - 2rem);
    overflow: hidden;
    line-height: 3.5rem;
    height: 7rem;
    text-overflow: ellipsis;
  }

  html[dir="rtl"] #calls:not(.big-duration) #group-call-label {
    padding-right: 0;
    text-align: right;
  }

  #group-call .hangup-button {
    display: none;
  }

  #contact-background {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: none;
  }

  #bluetooth-menu {
    z-index: 751;
  }

  #call-screen[data-layout="dialing"] #callbar-answer,
  #call-screen[data-layout="incoming"] #swiper-wrapper,
  #call-screen[data-layout="incoming-locked"] #callbar-answer,
  #call-screen[data-layout="incoming-locked"] #callbar-hang-up,
  #call-screen[data-layout="incoming-locked"] #call-options,
  #call-screen[data-layout="incoming-locked"] .duration,
  #call-screen[data-layout="connected"] #callbar-answer,
  #call-screen[data-layout="connected-hold"] #callbar-answer,
  #call-screen:not([data-layout="incoming-locked"]) #lockscreen-header,
  #call-screen:not([data-layout="incoming-locked"]) #lockscreen-masked-background,
  #call-screen:not([data-layout="incoming-locked"]) #lockscreen-area,
  #call-screen:not([data-layout="incoming-locked"]) #swiper-wrapper {
    display: none;
  }

  #call-screen[data-layout="connected-hold"] #calls.big-duration .handled-call.ongoing:not(.ended) .number,
  #call-screen[data-layout="connected-hold"] #calls.big-duration .handled-call.ongoing:not(.ended) .additionalContactInfo {
    color: rgba(51, 51, 51, 0.7);
  }

  #call-screen[data-layout="dialing"] #callbar-hang-up > .callbar-inner-button,
  #call-screen[data-layout="connected"] #callbar-hang-up > .callbar-inner-button,
  #call-screen[data-layout="connected-hold"] #callbar-hang-up > .callbar-inner-button {
    margin: 1rem 1.5rem 1rem 1.5rem;
  }

  #call-screen[data-layout="incoming"] #co-advanced,
  #call-screen[data-layout="incoming-locked"] #co-advanced {
    visibility: hidden;
  }

  #call-screen:not(.displayed) #co-advanced,
  #call-screen:not(.displayed) #callbar {
    pointer-events: none;
    opacity: 0.4;
  }

  #call-screen[data-layout="incoming"] #main-container,
  #call-screen[data-layout="incoming"] #main-container:before,
  #call-screen[data-layout="incoming-locked"] #main-container,
  #call-screen[data-layout="incoming-locked"] #main-container:before,
  #call-screen[data-layout="incoming-locked"] #calls *,
  #call-screen[data-layout="incoming-locked"] {
    background-color: transparent;
  }

  #call-screen[data-layout="incoming-locked"] #calls {
    position: absolute;
    top: calc(100% - 19rem);
    height: 9rem;
    color: #333;
    font-weight: normal;
    background: rgba(255, 255, 255, 0.85);
  }

  #call-screen[data-layout="incoming-locked"] .number {
    font-weight: 300;
  }

  #call-screen[data-layout="incoming-locked"] #calls.big-duration section.sim-info .numberWrapper {
    padding-right: 6.5rem;
  }
  html[dir="rtl"] #call-screen[data-layout="incoming-locked"] #calls.big-duration section.sim-info .numberWrapper {
    padding-right: 2.5rem;
  }

  #call-screen[data-layout="incoming-locked"] #calls.big-duration .numberWrapper .number {
    line-height: 3.4rem;
    padding-top: 2rem;
  }

  html[dir="rtl"] #call-screen[data-layout="incoming-locked"] #calls.big-duration .numberWrapper .number {
    line-height: 3.4rem;
    padding-top: 2rem;
    margin-left: 4rem;
    text-align: right;
  }

  #call-screen[data-layout="incoming-locked"] #calls.big-duration > section:not(.additionalInfo) .number {
    padding-top: 0;
    line-height: 9rem;
  }

  #call-screen[data-layout="incoming-locked"] #calls.big-duration .additionalContactInfo {
    font-weight: normal;
    line-height: 1.6rem;
    padding-bottom: 2rem;
  }

  /* We may need to sync system lockscreen media query part for showing call
     screen on larger screen size*/

  .merge-button {
    display: none;
  }

  body:not(.single-line) #calls .handled-call.held .merge-button,
  body:not(.single-line) #calls #group-call.held .merge-button {
    display: block;
    position: absolute;
    width: 6rem;
    height: 8rem;
    top: 0;
    right: 0;
    background: url(images/handled_call/actionicon_activecall_merge_calls.png) no-repeat center;
    background-size: 4rem;
    border: none;
    font-size: 0;
  }

  body:not(.single-line) #calls .handled-call.ended.held .merge-button {
    display: none;
  }

  /* DSDS SIM indication support */
  .sim .sim-number {
    display: none;
  }

  /* Call screen, only 1 open line */
  .big-duration .sim {
    display: block;
    position: absolute;
    top: 18rem;
    left: 0;

    font-size: 1.6rem;
    line-height: 2rem;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  }

  html[dir="rtl"] .big-duration .sim {
    left: auto;
    right: 0;
  }

  /* Locked incoming call screen */
  #call-screen[data-layout="incoming-locked"] .sim {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 2.5rem;
    text-align: right;
    font-size: 1.3rem;
    text-shadow: none;
    line-height: 9rem;
    color: #038282;
  }
  html[dir="rtl"] #call-screen[data-layout="incoming-locked"] .sim {
    display: inline-block;
    top: 0;
    left: 0;
    padding-left: 1.0rem;
    text-align: left;
    font-size: 1.3rem;
    text-shadow: none;
    line-height: 9rem;
    color: #038282;
  }

  #call-screen[data-layout="incoming-locked"] section.additionalInfo .sim {
    line-height: 3.4rem;
    padding-top: 2rem;
  }

  #call-screen[data-layout="incoming-locked"] .sim .via-sim {
    display: none;
  }

  #call-screen[data-layout="incoming-locked"] .sim .sim-number {
    display: inline;
  }

  /* Call waiting UI */
  #incoming-container .sim {
    display: inline-block;
    position: absolute;
    top: 2.2rem;
    right: 4.4rem;

    text-align: right;
    font-size: 1.3rem;
    line-height: 1.5rem;
  }

  html[dir="rtl"] #incoming-container .sim {
    padding-right: 18rem;
  }

  /* Hidden everywhere else */
  .sim {
    display: none;
    color: #ffffff;
    font-weight: normal;
  }

  .cdma-conference-call #group-show {
    display: none;
  }

  /* Action List */
  #action_list {
    bottom: var(--softkeybar-height) !important;
    padding-bottom: 1rem;
    background-color: var(--color-gs00) !important;
  }

  #action_list > .visible > menu > button {
    color: var(--color-gs90);
    background: var(--color-gs20);
    height: 3.5rem;
    width: calc(100% - 2rem);
    margin: 0.5rem 1rem 0 1rem;
    text-align: center;
    border-radius: 0.2rem;
    font-weight: 400;
    font-size: var(--name-minsize);
  }

  #action_list > .visible > menu > button:active {
    background: #00B965;
  }

  #action_list > .visible > menu > button.focus{
    background: var(--highlight-color);
    color: var(--color-gs00);
  }

  #action_list > .visible > menu > button.disable{
    background: var(--color-gs20);
    color: var(--color-gs90);
    opacity: 0.3;
  }

  #callsinfo {
    position: absolute;
    width: 100%;
    height: 7rem;
    background-color: rgba(255, 255, 255, 0.8);
  }

  #callsinfo.hide {
    display: none;
  }

  #group-call #callsinfo {
    position: unset;
  }

  #callsinfo .numberWrapper {
    font-size: var(--name-maxsize);
    font-weight: 400;
    color: var(--color-gs90);
    width: 100%;
  }

  #callsinfo .numberWrapper .number {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  #callsinfo .additionalContactInfo {
    color: var(--color-gs70);
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  #calls[show-mode="max-mode"] .wifi-call #callsinfo .additionalContactInfo {
    display: flex;
  }

  .hd-icon {
    height: 3.2rem;
    width: 3.2rem;
    background: url("images/handled_call/ic_hd_call.png");
    position: relative;
    margin-top: 3.3rem;
    visibility: hidden;
  }

  .hd-icon.hide {
    display: none;
  }

  .hd-icon.white{
    background: url("images/handled_call/ic_hd_call.png") bottom;
    position: absolute;
    right: 0.5rem;
    margin-top: -3.7rem;
    visibility: hidden;
  }

  .photo-icon {
    width: 100%;
    background-color: var(--header-background);
    position: relative;
    color: var(--highlight-color-pressed);
    font-size: 9.6rem;
    text-align: center;
  }

  #calls > section.voice-mail .photo-icon {
    color: var(--color-lime-pressed);
    padding-left: calc(50vw - 4.8rem);
  }

  #calls > section.emergency .photo-icon {
    background-color: var(--header-red-background);
    color: var(--color-red-pressed);
    padding-left: calc(50vw - 4.8rem);
  }

  html[dir="rtl"] #calls > section.emergency .photo-icon,
  html[dir="rtl"] #calls > section.voice-mail .photo-icon {
    right: calc(4.8rem - 50vw);
  }

  #calls[show-mode="max-mode"] .photo-icon {
    height: calc(100% - 7rem);
    line-height: 19rem;
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }

  #calls[show-mode="middle-mode"] .photo-icon {
    height: calc(100% - 12.5rem);
    line-height: 14rem;
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }

  #calls[show-mode="min-mode"] .photo-icon {
    height: calc(100% - 16rem);
    line-height: 10rem;
  }

  #calls[show-mode="list-mode"] .photo-icon {
    height: 0;
  }

  #calls[show-mode="max-mode"] .duration {
    bottom: 7rem;
  }

  #calls[show-mode="middle-mode"] .duration {
    bottom: 12.5rem;
  }

  #calls[show-mode="min-mode"] .duration {
    bottom: 16rem;
  }

  #calls[show-mode="list-mode"] .duration {
    margin-bottom: 0;
    background: none;
    position: absolute;
    width: 6rem;
    height: auto;
    padding-top: 0.5rem;
  }

  html[dir="ltr"] #calls[show-mode="list-mode"] .duration {
    right: 0.5rem;
  }

  html[dir="rtl"] #calls[show-mode="list-mode"] .duration {
    left: 0.5rem;
  }

  #calls[show-mode="max-mode"] .status-icon::after {
    bottom: 7.5rem;
  }

  #calls[show-mode="middle-mode"] .status-icon::after {
    bottom: 12.5rem;
  }

  #calls[show-mode="min-mode"] .status-icon::after {
    bottom: 16.5rem;
  }

  #calls[show-mode="list-mode"] .status-icon::after {
    top: 1.1rem;
    color: var(--highlight-color);
    text-shadow: unset;
  }

  #calls[show-mode="list-mode"] #group-call-label {
    height: 5.8rem;
    line-height: 2.9rem;
    padding-left: 4.2rem;
    width: calc(100% - 8.8rem);
    font-size: var(--name-minsize);
    white-space: unset;
  }

  #calls[show-mode="list-mode"] > section {
    height: 5.8rem;
  }

  #calls[show-mode="list-mode"] > section.wifi-call {
    height: 7.8rem;
  }

  #calls[show-mode="list-mode"] #callsinfo {
    position: absolute;
    top: 0;
    background: none;
    width: calc(100% - 4.2rem);
    height: 5.8rem;
  }

  html[dir="ltr"] #calls[show-mode="list-mode"] #callsinfo {
    margin-left: 4.2rem;
  }

  html[dir="rtl"] #calls[show-mode="list-mode"] #callsinfo {
    margin-right: 4.2rem;
  }

  #calls[show-mode="list-mode"] > section.wifi-call #callsinfo {
    height: 7.8rem;
  }

  #calls[show-mode="list-mode"] .numberWrapper {
    font-size: var(--name-minsize);
    padding-bottom: 0;
  }

  #calls[show-mode="list-mode"] .numberWrapper .number {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc(100% - 2.8rem);
  }

  #calls[show-mode="list-mode"] .additionalContactInfo {
    font-size: 1.4rem;
  }

  #calls[show-mode="list-mode"] .hd-icon {
    margin-top: 2.1rem;
    visibility: hidden;
  }
    /* Multiple call handling */
  #calls[show-mode="list-mode"].movedown{
    transform: translateY(5.8rem);
    transition: transform 0.4s ease-in-out, visibility 0.4s;
  }

  #calls[show-mode="min-mode"] .fadeout .duration,
  #calls[show-mode="min-mode"] .fadeout .status-icon::after {
    transition: opacity 0.3s linear;
    opacity:0;
  }

 .duration {
    width: 100%;
    height: 9rem;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
    position: absolute;
    transition: opacity 0.3s linear;
    opacity:100;
  }

  .duration.hide {
    display: none;
  }

  .status-icon::after {
    font-family: "gaia-icons";
    position: absolute;
    text-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
    color: var(--color-gs00);
    position: absolute;
    font-size: 3.2rem;
  }

  html[dir="rtl"] .status-icon::after {
    right: 1rem;
  }

  html[dir="ltr"] .status-icon::after {
    left: 1rem;
  }

  .status-icon.hide {
    display: none;
  }

  #calls .status-icon::after {
    transition: opacity 0.3s linear;
    opacity:100;
  }

  .handled-call.incoming .status-icon::after {
    content: attr(data-video) 'call-incoming' attr(data-index);
  }

  .handled-call.incoming .status-icon.ims[data-ims]:not([data-video])::after {
    content: attr(data-ims);
  }

  #calls:not(.mute).handled-call.incoming.ongoing .status-icon::after {
    content: attr(data-video) 'call-outgoing' attr(data-index);
  }

  #calls:not(.mute).handled-call.incoming.ongoing .status-icon.ims[data-ims]:not([data-video])::after {
    content: attr(data-ims);
  }

  #calls.mute .ongoing .status-icon::after {
    content: "mic-off";
  }


  .handled-call.ongoing.held .status-icon::after,
  #group-call.held .status-icon::after {
    content: attr(data-video) 'call-hold' attr(data-index) !important;
    color: var(--color-gs45) !important;
  }

  .handled-call.ongoing.held .status-icon.ims[data-ims]:not([data-video])::after,
  #group-call.held .status-icon.ims[data-ims]:not([data-video])::after {
    content: attr(data-ims) !important;
  }

  #calls.mute .handled-call.outgoing .status-icon::after,
  #calls.mute #group-call .status-icon::after {
    content: "mic-off";
  }

  #calls:not(.mute) .handled-call.outgoing .status-icon::after,
  #calls:not(.mute) #group-call .status-icon::after {
    content: attr(data-video) 'call-outgoing' attr(data-index);
  }

  #calls:not(.mute) .handled-call.outgoing .status-icon.ims[data-ims]:not([data-video])::after,
  #calls:not(.mute) #group-call .status-icon.ims[data-ims]:not([data-video])::after {
    content: attr(data-ims);
  }

  .ended .status-icon::after {
    content: "call-hang-up" !important;
  }

  .duration .font-light {
    width: calc(100% - 5.7rem);
    font-size: 2rem;
    font-weight: 400;
    color: var(--color-gs00);
    position: absolute;
    bottom: 0.5rem;
  }

  html[dir="ltr"] .duration .font-light {
    left: 4.7rem;
  }

  html[dir="rtl"] .duration .font-light {
    right: 4.7rem;
  }


  #incoming-info .status-icon::after {
    content: attr(data-video) 'call-incoming' attr(data-index);
    top: 1.3rem;
    text-shadow: unset;
  }

  html[dir="ltr"] #incoming-info .status-icon::after {
    left: 1rem;
  }

  html[dir="rtl"] #incoming-info .status-icon::after {
    right: 1rem;
  }

  #incoming-info .status-icon.ims[data-ims]:not([data-video])::after {
    content: attr(data-ims);
  }

  #bluetooth-menu {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
  }

  #bluetooth-menu.display {
    visibility: visible;
  }

  #bluetooth-menu>div {
    opacity: 0.85;
    background-color: var(--color-gs90);
    width: 100%;
    height: calc(100% - 17rem);
  }

  #bluetooth-menu>h1 {
    background-color: var(--color-gs20);
    line-height: 2.6rem;
    margin: 0;
    text-align: center;
    height: var(--header-height);
    color: var(--color-gs90);
  }

  #bluetooth-menu>menu {
    background-color: var(--color-gs00);
    padding: 0;
    margin: 0;
  }

  #bluetooth-menu>menu>button {
    height: 4.8rem;
    line-height: 4.8rem;
    color: var(--color-gs90);
    width: 100%;
    background: none;
    border: medium none;
    text-align: left;
  }

  #bluetooth-menu>menu>button.focus {
    background: var(--highlight-color);
    color: var(--color-gs00);
  }

  #bluetooth-menu>menu>button.selected::after {
    color: var(--highlight-color);
    content: "check-on";
  }

  #bluetooth-menu>menu>button.selected.focus::after {
    color: var(--color-gs00);
  }


  #bluetooth-menu>menu>button::after {
    font-family: "gaia-icons";
    content: "check-off";
    right: 1rem;
    position: absolute;
    font-size: 3.2rem;
    color:var(--color-gs45);
  }

  .infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: calc(100% - 1.5rem);
  }

  html[dir="ltr"] .infoContainer {
    margin-left: 1rem;
    margin-right: 0.5rem;
    float: left;
  }

  html[dir="rtl"] .infoContainer {
    margin-left: 0.5rem;
    margin-right: 1rem;
    float: right;
  }


  #calls[show-mode="list-mode"] #group-call.wifi-call .infoContainer:not([hdicon-display="show"]) {
    display: none;
  }

  .infoContainer[hdicon-display="show"]  {
    width: calc(100% - 5.2rem) !important;
  }

  #group-call .numberWrapper {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }

  .skbar div {
    height: var(--softkeybar-height, 3rem);
  }

  #dialing-number bdi {
    padding: 1.4rem 0 0;
    display: block;
    line-height: 3rem !important
  }

  [role="dialog"][data-type="action"] > menu > button.focus {
    background: var(--highlight-color) !important;
  }
}
