#emergency-call {
  height: 100%;
  background-color: var(--color-gs00);
}

#emergency-call-container {
  position: absolute;
  top: 0;
  bottom: var(--softkeybar-height);
  width: 100%;
}

.phone-number-view-wrapper-input {
  position: absolute;
  height: 5rem;
  margin-top: var(--softkeybar-height);
}

#phone-number-view-container {
  height: 7rem;
  background: var(--header-lime-background) !important;
}

#phone-number-view-container .phone-number-view-wrapper-input{
  margin-top:0;
}

#contact-list-overlay {
  position: relative;
  margin-top: 1rem;
  overflow-y: scroll;
  height: calc(100vh - 11.6rem - var(--statusbar-softkeybar-height));
}

#contact-list {
  height: auto;
}

#contact-list .contact-item{
  margin: 2.5px 1rem 5px 1rem;
  border: medium none;
  border-radius: 0.2rem;
  width: calc(100% - 2rem);
  text-align: center;
  font-size: 17px;
  font-style: normal;
  background: var(--color-gs20);
}

#emergency-call-only {
  width: 100%;
  text-align: center;
  display: flex;
  overflow: hidden;
  color: var(--color-gs20);
  background-color: var(--header-lime-background);
  padding: 4px;
  margin-top: var(--statusbar-height);
}

.emergency-status-bar{
  height: var(--statusbar-height);
  background: var(--header-background);
}

#emergency-call-only .call-only-view-text {
  width: 100%;
  align-items: center;
  padding: 0 1rem 0 1rem;
  font-size: 14px;
  color: var(--color-gs20);
}

#phone-number-view::after {
  content: "";
  margin-left: .3rem;
  margin-right: -.5rem;
  border-left: .2rem solid;
  font-size: 2.4rem;
  vertical-align: .3rem;
  animation: blink-cursor .5s linear infinite alternate;
}

@keyframes blink-cursor {
  0% { opacity: 0; }
  20% { opacity: 0.3; }
  100% { opacity: 0.75; }
}

#phone-number-view-container:not(.focus) #phone-number-view::after{
  visibility: hidden;
}

@media only screen and (orientation: landscape) {
  #phone-number-view-container {
    height: 5rem;
  }

  #phone-number-view {
    line-height: 5rem;
    margin-top: 0;
    font-size: 3.6rem;
  }

  #contact-list-overlay {
    height: calc(100% - var(--header-height) - 5rem - var(--softkeybar-height));
    overflow-y: scroll;
    box-sizing: border-box;
    margin-top: 0;
    padding: 1rem 0;
  }
}

