#main-view {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  transition: opacity 0.3s;

  @media only screen and (orientation: landscape) {
    flex-direction: row;
    padding-top: unset;
  }

  .panel-appList--opened &,
  .panel-instantSettings--opened & {
    opacity: 0;
    transition-duration: 0s;
  }
}
