<element name="fxa-forgot-password" extends="section">
  <template>
    <section class="vertical">
      <div id="fxa-forgot-password">
        <p class="fine-print" data-l10n-id="fxa-enter-email-to-reset-password-1">
          Please enter you account email, we will send you a link to reset the password.
        </p>
        <p class="fine-print" data-l10n-id="fxa-account-not-found">
          Account not found. Please retry.
        </p>
        <ul class="tcl-nav-box">
          <li>
            <label for="fxa-reset-email-input" data-l10n-id="fxa-signin-email">Account Name</label>
            <input id="fxa-reset-email-input" data-l10n-id="fxa-enter-email-input" type="text" x-inputmode="verbatim">
          </li>
          <li>
            <label>
              <button class="recommend" id="fxa-reset-your-password">
                <span data-l10n-id="fxa-reset-your-password">Reset Password</span>
              </button>
            </label>
          </li>
        </ul>
      </div>
    </section>
    <script src="js/screens/fxam_forgot_password.js"></script>
  </template>
</element>
